/* --------------------- IMPORTACIONES ---------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    /*--------------------- PALETA DE COLORES ---------------------*/
    --colorTexto: #F0F3FF;
    --colorContraste: #211951;
    --colorEnfasis: #836FFF;

    /*--------------------- TIPOGRAFÍA ---------------------*/
    --textoTitulo: "Inter", sans-serif;
    --textoContenido: "Roboto Mono", monospace;
}

/*--------------------- REDEFINICIÓN PARAMETROS PÁGINA ---------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*------------------------------------------ BODY ------------------------------------------*/
body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;

    background: linear-gradient(45deg, #C4A93B, #9B3E52, #721B8D, #421B4D, #0D183A);
    background-size: 950% 950%;
    animation: color 12s ease-in-out infinite;
    font-family: var(--textoContenido);
    color: var(--colorTexto);
}

@keyframes color {
    from {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    to {
        background-position: 0 50%;
    }
}

/*------------------------------------------ HEADER ------------------------------------------*/
header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*--------------------- NAV ---------------------*/
.menuNav {

    width: 100%;
    height: 8%;

    display: flex;
    justify-content: center;
}

/*--------------------- LISTA DE MENÚ ---------------------*/
.menuLista {
    width: auto;

    border-radius: 8px;
    background-color: var(--colorContraste);
    opacity: 0.7;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;

    padding: 1%;
    gap: 40px;

    font-family: var(--textoContenido);
    text-transform: uppercase;
    list-style: none;
}

.menuLista a {
    text-decoration: none;
    color: var(--colorTexto);
}

/* --------------------- CURRICULUM ---------------------*/
.cv {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    right: 3%;
    /* Revertido a valor original */
    top: 5%;

    font-size: 40px;
}

.cv a {
    text-decoration: none;
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    color: var(--colorTexto);
}

/*--------------------- BANNER ---------------------*/
.banner {
    width: 100%;
    height: 100%;

    display: grid;
    place-content: center;

    text-align: center;
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);

    font-family: var(--textoTitulo);
    color: var(--colorTexto);
    font-weight: bold;
    font-size: 30px;
}

/*------------------------------------------ MAIN ------------------------------------------*/
main {
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/*--------------------- HABILIDADES ---------------------*/
.tituloHabilidades {
    text-transform: uppercase;
    margin-top: 6%;
    padding: 2%;
}

.contenedorHabilidades {

    width: 100vw;
    height: 100%;

    display: grid;
    place-content: center;
}

.habilidadesSection {
    width: 60vw;

    display: flex;

    border: solid 2px var(--colorTexto);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
}

.habilidad {
    border-left: solid 2px var(--colorTexto);

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2%;
}

.habilidad img {
    width: 80px;
    height: 80px;
    margin: 1%;
}

.habilidad h4 {
    text-transform: uppercase;
    margin: 4%;
}

.habilidad p {
    text-align: center;
}

/* --------------------- PROYECTOS ---------------------*/

.tituloProyecto {
    text-transform: uppercase;
    margin-top: 6%;
}

.proyectos {
    height: 100%;
    width: 100%;

    margin-top: 4%;

    display: flex;
    justify-content: center;

}

/* --------------------- SLIDER --------------------- */

.slide {
    width: 60%;
    max-width: 700px;
    height: 400px;

    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    border-radius: 10px;
}

.slide ul {
    display: flex;
    padding: 0%;
    width: 400%;

    animation: slide 15s infinite cubic-bezier(0.55, 0.48, 0.37, 0.92);
}

@keyframes slide {
    from {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    to {
        margin-left: -300%;
    }
}

.descripcion {
    width: 25%;
    height: 100%;

    margin-left: 4%;
}

.descripcion h4 {
    margin: 8%;
    text-align: center;
    text-transform: uppercase;
}

.descripcion p {
    text-align: center;
}

.imgDescripcion {
    display: flex;
    justify-content: center;

    margin-top: 20%;
}

.imgDescripcion img {
    width: 50px;
    height: 50px;
}

/*--------------------- EXPERIENCIA ---------------------*/

.tituloExp {
    text-transform: uppercase;
    margin-top: 6%;

}

.acordeonExp {
    width: 50vw;
    padding: 2%;

    margin: auto;
    margin-bottom: 2%;

    display: flex;
    flex-direction: column;

    gap: 5px;
}

.acordeon {
    background: var(--colorContraste);
    border-radius: 10px;

    color: var(--colorTexto);
    padding: 3%;
    cursor: pointer;
}

.acordeon ::marker {
    content: "";
}

.acordeon:hover {
    background-color: var(--colorEnfasis);
}

.acordeon p {
    padding: 2%;
    background: none;
    color: var(--colorTexto);
}


/*------------------------------------------ FOOTER ------------------------------------------*/
.contactoSection {
    width: 100%;
    padding: 20px;
    background-color: var(--colorContraste);
    color: var(--colorTexto);
    text-align: center;
}

.tituloContacto {
    text-transform: uppercase;
    margin-top: 50px;
    padding: 20px;
}

.Contactame {
    margin: 20px 0;
}

.contenedorCorreo {
    font-size: 20px;
}

.redesContacto {
    margin-top: 20px;
}

.redes {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.redes li {
    margin: 0;
}

.redes a {
    text-decoration: none;
    color: var(--colorTexto);
    font-size: 24px;
}


/* Media Query */
@media (max-width: 390px) {

    header,
    main,
    .contenedorHabilidades,
    .proyectos,
    .acordeonExp {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menuLista {
        gap: 20px;
        padding: 2%;
    }

    .cv {
        font-size: 24px;
    }

    .banner {
        font-size: 24px;
        padding: 10px;
    }

    .habilidadesSection {
        flex-direction: column;
        width: 100%;
    }

    .habilidad {
        border-top: solid 3px white;
    }

    .tituloProyecto {

        margin-top: 20%;

    }

    .slide {
        width: 90%;
        height: 200px;
    }

    .descripcion {
        width: 90%;
    }

    .imgDescripcion {
        margin-top: 5%;
        margin-bottom: 10%;
    }

    .acordeonExp {
        width: 90%;
    }

    .contactoSection {
        padding: 10px;
    }
}