/*----------------------------- IMPORTACIONES ------------------------ */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* ---------------------------- DEFINICIÓN DE VARIABLES Y PARÁMETROS -------------------------- */
:root{
    --tipografia: 'Krub', sans-serif;
    --colorFondo:#F4F4F4;
    --colorClaro:#F0A500;
    --colorContraste:#CF7500;
    --colorTexto:#1A1C20;
    --colorBanner:#F0F0F0;
}

/*------------ MARGEN ELEMENTOS DE TODA LA PÁGINA -------------*/
*{
    margin: 0;
    padding: 0;
}
/*----------------------------------------------------------- BODY -----------------------------------------------------*/
body{
    /* LIMITACÍON PÁGINA */
    border: 5px solid red;
    /*------------ MAQUINARIA PESADA -------------*/
    width: 100%;
    /*------------ COLOR FONDO -------------*/
    background-color: var(--colorFondo);
    /*------------ TIPOGRAFÍA -------------*/
    font-family: var(--tipografia);
    /*------------ COLOR TIPOGRAFÍA -------------*/
    color: var(--colorTexto);
    /*------------ BARRA DESPLAZAMIENTO EN X/Y -------------*/
    overflow-x: hidden;
    overflow-y: border-box;
}

/*----------------------------------------------------------- HEADER -----------------------------------------------------*/
header{
    border: 5px solid blue;
    width: 100vw;
    height: 48vh;
}
/*--------------------- MENÚ DE NAVEGACIÓN---------------------*/
.menuNav{
    background-color: var(--colorClaro);
    width: 100%;
    height: 130px;
}
/*--------------------- LISTA ACCESOS DE NAVEGACIÓN---------------------*/
.listaLogos{
    background-color: var(--colorContraste);
    height: 60%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    list-style: none;
}

.listaLogos a:hover{
    color: white;
}
/*--------------------- LISTA MENÚ DE NAVEGACIÓN---------------------*/
.listaMenu{
    background-color: var(--colorClaro);
    height: 40%;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 80px;
    list-style: none;
}
/*------------ TEXTO -------------*/
.listaMenu a{
    text-decoration: none;
    color:var(--colorTexto);
    font-size: 16px;
    font-weight: bold;
}

.listaMenu a:hover{
    color: white;
}
/*------------ LOGO -------------*/
.logo{
    width: 76px;
    height: 70px;
}

/*--------------------- BANNER ---------------------*/

.banner{
    width: 100%;
    height: 70%;
    padding-top: 30px;
}

.imgBanner{
    width: 100%;
    height: 90%;
    object-fit: fill;
}

/*--------------------------------------------------------- MAIN ------------------------------------------------------------*/

main{
    border: 5px solid greenyellow;

    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/*--------------------- ENCABEZADO SERVICIOS ---------------------*/
.encabezadoServicios{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.encabezadoServicios h1{
    color: var(--colorClaro);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
/*--------------------- SERVICIOS ---------------------*/
.servicios{
    width: 100%;
    display: flex;
    justify-content: center;
}
/*------------ CULATAS -------------*/
.culatas{
    width: 100%;
    color: var(--colorTexto);
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.culatas h2{
    color: var(--colorClaro);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.culatas img{
    width: 70px;
    height: 70px;
}

.culatas ul{
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    list-style: none;
}

/*------------ BLOQUES -------------*/
.bloques{
    width: 100%;
    color: var(--colorTexto);
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bloques h2{
    color: var(--colorClaro);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.bloques img{
    width: 70px;
    height: 70px;
}

.bloques ul{
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    list-style: none;
}

/*------------ CIGUEÑALES -------------*/
.cigueñal{
    width: 100%;
    color: var(--colorTexto);
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cigueñal h2{
    color: var(--colorClaro);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.cigueñal img{
    width: 70px;
    height: 70px;
}

.cigueñal ul{
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    list-style: none;
}

/*------------ BIELAS Y PISTONES -------------*/
.bielasPistones{
    width: 100%;
    color: var(--colorTexto);
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bielasPistones h2{
    color: var(--colorClaro);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.bielasPistones img{
    width: 70px;
    height: 70px;
}

.bielasPistones ul{
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    list-style: none;
}

/*--------------------- BANNER TIPO DE VEHÍCULOS ---------------------*/

.bannerVehiculos {
    background-color: var(--colorBanner);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 30px;
    gap: 40px;
}

.bannerTexto ul{
    color:var(--colorTexto);
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    list-style: none;
}

/*------------ VEHÍCULOS LIVIANOS -------------*/  
.vehiculosLivianos {
    color: var(--colorContraste);
}

.vehiculosLivianos ul{
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    list-style: none;
}

.vehiculosLivianos h3{
    font-size: 16px;
    font-weight: bold;
    line-height: 2.5;
}

.vehiculosLivianos img{
    width: 170px;
    height: 145px;
}

/*------------ VEHÍCULOS PESADOS -------------*/  

.vehiculosPesados {
    color: var(--colorContraste);
}

.vehiculosPesados ul{
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    list-style: none;
}

.vehiculosPesados h3{
    font-size: 16px;
    font-weight: bold;
    line-height: 2.5;
}

.vehiculosPesados img{
    width: 170px;
    height: 145px;
}
/*------------ MAQUINARIA PESADA -------------*/  

.maquinariaPesada {
    color: var(--colorContraste);
}

.maquinariaPesada ul{
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    list-style: none;
}

.maquinariaPesada h3{
    font-size: 16px;
    font-weight: bold;
    line-height: 2.5;
}

.maquinariaPesada img{
    width: 170px;
    height: 145px;
}

/* --------------------------- ENCUENTRANOS ----------------------- */

.encuentranosEncabezado{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.encuentranosEncabezado h1{
    color: var(--colorClaro);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.encuentranos{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.encuentranosIconos {
    width: 25%;
    color: var(--colorTexto);
    font-size: 35px;
}

.encuentranosIconos li{
    list-style: none;
    display: inline;
    margin: 20px;
}

.encuentranosMapa{
    width: 25%;
}

/*--------------------------------------------------------- FOOTER ------------------------------------------------------------*/

footer{
    border: 5px solid purple;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--colorTexto);
    color: white;
}

/* --------------------------- REDES SOCIALES ----------------------- */
.redesSociales{
    text-align: center;
    margin: 20px;
}

.redesSociales h5{
    text-transform: uppercase;
    line-height: 5;
}

.redesSociales a{
    font-size: 20px;
    margin: 10px;
}

/* --------------------------- INFO CONTACTO ----------------------- */
.contacto{
    text-align: center;
}

.contacto h5{ 
    text-transform: uppercase;
    line-height: 5;
}

.contacto ol{
    list-style: none;
}

